$bg-primary: #000;
$bg-secondary: rgba(28, 29, 24, 1);
$bg-purple: #9D4EDD;
$font-family-primary: 'Satoshi', sans-serif;
$text-primary: #EEEEEC;
$text-secondary: rgba(248, 252, 234, 1);
$text-highlighted: #BEE329;
$border: #EEEEEC;

.hero-section {
    padding: 6rem;
    background-color: #000;
    max-width: 1440px;
    margin: 0 auto;

    h1 {
        color: $text-primary;
        font-family: $font-family-primary;
        font-size: 5rem;
        font-weight: 900;
        line-height: 120%;
        letter-spacing: 0em;
        text-align: center;

        .highlighted {
            color: $text-highlighted;
        }
    }

    p {
        font-family: 'Satoshi';
        font-style: normal;
        font-weight: 400;
        font-size: 1.5rem;
        font-weight: 300;
        line-height: 2.3rem;
        text-align: center;
        color: $text-secondary;
        margin: 4rem 8.75rem;
    }

    .call-to-action {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 0.8rem;
        flex-wrap: wrap;

        a {
            text-decoration: none;
            
            button {
                display: flex ;
                justify-content: center ;
                align-items: center ;
                padding: 20px 40px;
                text-align: center;
                border-radius: 12px;
                border: 1px solid transparent;
                width: 287px;
                height: 67px;
                box-shadow: 0px 1px 2px rgba(16, 24, 40, 0.05);
                font-size: 1rem;
                font-weight: 600;
                cursor: pointer;
                transition: 0.3s;
                display: flex;
                justify-content: center;
                align-items: center;
                gap: 0.5rem;
                color: #000;
                background-color: $text-highlighted;

                .btn-icon{
                    font-size: 1.5rem;
                    display: none;
                    transition: 0.5s display;
                }

                // &:nth-child(1) {
                //     color: $text-highlighted;
                //     background-color: $bg-secondary;
                // }

                // &:nth-child(2) {
                //     color: #000;
                //     background-color: $text-highlighted;
                // }

                &:hover {
                    // transform: translateY(-5px);
                    border: 1px solid rgba(208, 213, 221, 0.15);
                    background-color: #92b603;
                    // color: $text-primary;
                }

                &:hover .btn-icon{
                    display: block;
                }
            }
        }
    }
}


@media screen and (max-width: 1285px) {
    .hero-section {
        h1 {
            font-size: 4rem;
        }

        p {
            font-size: 1.2rem;
        }

        button {
            padding: 15px 35px !important;
            width: 16.5rem !important;
            height: 4rem !important;
            font-size: 1.1rem !important;
        }
    }
}

@media screen and (max-width: 1066px) {
    .hero-section {
        h1 {
            font-size: 3.5rem;
        }

        p {
            font-size: 1rem;
            margin: 2.5rem 8rem !important;
        }

        button {
            padding: 15px 30px;
            width: 18rem !important;
            height: 3.5rem !important;
            font-size: 1rem !important;
        }
    }
}

@media screen and (max-width: 960px) {
    .hero-section {
        h1 {
            font-size: 3rem;
        }

        p {
            margin: 2.2rem 8rem !important;
            line-height: 1.8rem !important;
        }

        button {
            padding: 15px 30px;
            width: 15rem !important;
            height: 3.5rem !important;
            font-size: 1rem !important;
        }
    }
}

@media screen and (max-width: 850px) {
    .hero-section {
        h1 {
            font-size: 2.8rem;
        }
    }
}

@media screen and (max-width: 805px) {
    .hero-section {
        h1 {
            font-size: 2.6rem;
        }

        p {
            margin: 2.2rem 5rem !important;
            line-height: 1.8rem !important;
        }

        button {
            padding: 15px 30px;
            width: 14rem !important;
            height: 3.5rem !important;
            font-size: 0.9rem !important;
        }
    }
}

@media screen and (max-width: 725px) {
    .hero-section {
        padding: 3rem 4rem !important;
    }
}

@media screen and (max-width: 765px) {
    .hero-section {
        h1 {
            font-size: 2.4rem;
        }

        p {
            margin: 2rem 5rem !important;
            line-height: 1.8rem !important;
            margin: 2rem 3rem !important;
        }

        button {
            padding: 15px 30px;
            width: 14rem !important;
            height: 3.5rem !important;
            font-size: 0.85rem !important;
        }
    }
}

@media screen and (max-width: 630px) {
    .hero-section {
        padding: 2.5rem 3.8rem !important;
    }
}

@media screen and (max-width: 570px) {
    .hero-section {
        h1 {
            font-size: 2rem;
        }

        p {
            margin: 2rem !important;
            line-height: 1.8rem !important;
            font-size: 1.3rem !important;
        }

        button {
            padding: 15px 30px;
            width: 14rem !important;
            height: 3.5rem !important;
            font-size: 0.85rem !important;
        }
    }
}

@media screen and (max-width: 500px) {
    .hero-section {
        p {
            display: none;
        }

        .call-to-action {
            margin-top: 2.5rem;

            button {
                padding: 15px 30px;
                width: 15rem !important;
                height: 3.5rem !important;
                font-size: 0.90rem !important;
            }
        }
    }
}

@media screen and (max-width: 450px) {
    .hero-section {
        padding: 3.0rem !important;
    }
}

@media screen and (max-width: 360px) {
    .hero-section {
        padding: 2rem !important;

        .call-to-action {

            button {
                padding: 15px 20px;
                width: 15rem !important;
                height: 3.5rem !important;
                font-size: 0.85rem !important;
            }
        }
    }
}