$bg-primary: #000;
$bg-secondary: rgba(28, 29, 24, 1);
$bg-purple: #9D4EDD;
$font-family-primary: 'Satoshi', sans-serif;
$text-primary: #EEEEEC;
$text-secondary: rgba(248, 252, 234, 1);
$text-highlighted: #BEE329;
$border: #EEEEEC;

.services-section {
    background-color: $bg-primary;
    padding: 6rem;

    h3 {
        font-family: $font-family-primary;
        font-size: 40px;
        font-weight: 700;
        line-height: 54px;
        letter-spacing: 0em;
        text-align: left;
        color: $text-highlighted;
    }

    p {
        font-family: 'Inter';
        font-style: normal;
        font-weight: 300 !important;
        font-size: 20px;
        line-height: 30px;
        color: $border;
        margin-top: 1rem;
    }

    .services-container {
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 1.5rem;
        margin-top: 3rem;

        .ui-ux {
            color: black;
            background-color: $text-highlighted;
            border-radius: 1.5rem;
            padding: 4rem 3rem;
            position: relative;
            overflow: hidden;
            
            span{
                position: relative;
                z-index: 1;
            }

            h4 {
                font-family: $font-family-primary;
                font-style: normal;
                font-weight: 700;
                font-size: 35px;
                line-height: 54px;
                text-transform: capitalize;
            }

            p {
                font-family: 'Inter';
                font-style: normal;
                font-weight: 500 !important;
                font-size: 16px;
                line-height: 24px;
                color: #000000;
            }

            &::before {
                content: '';
                position: absolute;
                top: 50%;
                left: 0;
                width: 10px;
                height: 10px;
                border-radius: 50%;
                background-color: whitesmoke;
                transition: transform 0.5s;
                visibility: hidden;
            }

            &:hover::before {
                transform: scale(150);
                visibility: visible;
            }
        }

        .web-dev {
            color: $text-primary;
            background-color: #9D4EDD;
            border-radius: 1.5rem;
            padding: 4rem 3rem;

            h4 {
                font-family: $font-family-primary;
                font-style: normal;
                font-weight: 700;
                font-size: 2rem;
                line-height: 54px;
                text-transform: capitalize;
            }

            p {
                font-family: 'Inter';
                font-style: normal;
                font-weight: 500 !important;
                font-size: 16px;
                line-height: 24px;
                color: $text-primary;
            }
        }
    }
}

@media screen and (max-width:1066px) {
    .services-section {
        h3 {
            font-size: 2rem;
        }

        p {
            font-size: 18px;
            margin-top: 1rem;
        }

        .services-container {
            display: grid;
            grid-template-columns: 1fr !important;

            h4 {
                font-size: 1.8rem !important;
            }
        }
    }
}

@media screen and (max-width: 630px) {
    .services-section {
        padding: 3.8rem !important;
    }
}

@media screen and (max-width: 550px) {
    .services-container {

        .ui-ux,
        .web-dev {
            padding: 2.5rem 1.8rem !important;
        }
    }
}

@media screen and (max-width:510px) {
    .services-section {
        .services-container {
            h4 {
                font-size: 1.6rem !important;
            }

            p {
                font-size: 14px !important;
            }
        }
    }
}

@media screen and (max-width: 450px) {
    .services-section {
        padding: 3rem !important;

        h3,
        p {
            text-align: center !important;
        }

        .services-container {

            h4,
            p {
                text-align: center !important;
            }

            .ui-ux,
            .web-dev {
                padding: 2rem 1.5rem !important;
            }
        }
    }
}

@media screen and (max-width: 360px) {
    .services-section {
        padding: 2rem !important;

        h3,
        p {
            text-align: center !important;
        }

        .services-container {

            h4,
            p {
                text-align: center !important;
            }

            .ui-ux,
            .web-dev {
                padding: 2rem 1.5rem !important;
            }
        }
    }
}