$bg-primary: #000;
$bg-secondary: rgba(28, 29, 24, 1);
$bg-purple: #9D4EDD;
$font-family-primary: 'Satoshi', sans-serif;
$text-primary: #EEEEEC;
$text-secondary: rgba(248, 252, 234, 1);
$text-highlighted: #BEE329;
$border: #EEEEEC;

.top-project-card {
    img {
        width: 540px;
        height: 458.87px;
    }

    .meta-data {
        font-family: $font-family-primary;
        font-weight: 400;
        font-size: 0.8rem !important;
        line-height: 22px;
        margin-top: 0.5rem;
        padding: 0 !important;
        letter-spacing: 0.05rem;
        color: $border;
    }

    h4 {
        margin: 0.9rem 0;
        padding: 0;
        color: $text-highlighted;
        width: 65%;
        cursor: pointer;
        font-size: 1.5rem;

        &:hover {
            color: #a3ca07;
            text-decoration: underline;
        }
    }

    .description {
        font-size: 1rem;
        width: 78%;
        color: $text-primary;
        line-height: 1.8rem;
    }
}

@media screen and (max-width: 1450px) {
    .top-project-card {
        img {
            width: 92%;
        }
    }
}

@media screen and (max-width: 1066px) {
    .top-project-card {
        img {
            width: 90%;
            height: auto;
        }
    }
}

@media screen and (max-width: 870px) {
    .top-project-card {
        .meta-data {
            font-size: 0.7rem !important;
            line-height: 20px;
            margin-bottom: 3px !important;
            padding: 0 !important;
            letter-spacing: 0.04rem;
        }

        h4 {
            font-size: 1.2rem !important;
        }

        .description {
            font-size: 0.8rem;
            width: 78%;
            color: $text-primary;
            line-height: 1.6rem;
        }
    }
}

@media screen and (max-width: 735px){
    .top-project-card {
        img {
            width: 100% !important;
            height: auto;
        }

        .description {
            font-size: 0.8rem;
            width: 100%;
            color: $text-primary;
            line-height: 1.6rem;
        }
    }
}