$bg-primary: #000;
$bg-secondary: rgba(28, 29, 24, 1);
$bg-purple: #9D4EDD;
$font-family-primary: 'Satoshi', sans-serif;
$text-primary: #EEEEEC;
$text-secondary: rgba(248, 252, 234, 1);
$text-highlighted: #BEE329;
$border: #EEEEEC;

.portfolio-section {
    background-color: $bg-secondary;
    padding: 6rem;

    h3 {
        color: $text-highlighted;
        font-family: $font-family-primary;
        font-style: normal;
        font-weight: 700;
        font-size: 40px;
        line-height: 54px;
        text-transform: capitalize;
    }

    p {
        color: $text-primary;
        width: 1248px;
        height: 54px;
        font-style: normal;
        font-weight: 300;
        font-size: 20px;
        line-height: 1.9rem;
        width: 90%;
        margin: 1rem 0;
    }
}