$bg-primary: #000;
$bg-secondary: rgba(28, 29, 24, 1);
$bg-purple: #9D4EDD;
$font-family-primary: 'Satoshi', sans-serif;
$text-primary: #EEEEEC;
$text-secondary: rgba(248, 252, 234, 1);
$text-highlighted: #BEE329;
$border: #EEEEEC;

.portfolio-section {
    background-color: $bg-secondary;
    padding: 6rem;

    h3 {
        color: $text-highlighted;
        font-family: $font-family-primary;
        font-style: normal;
        font-weight: 700;
        font-size: 2.5rem;
        line-height: 54px;
        text-transform: capitalize;
    }

    .sub-title {
        color: $text-primary;
        font-weight: 300;
        font-size: 1.25rem;
        line-height: 1.9rem;
        width: 90%;
        margin: 1rem 0;
        margin-bottom: 3rem;
    }

    .sample-container {
        display: grid;
        grid-template-columns: 1fr 1fr;
        // gap: 2rem;

        .right-container {
            display: grid;
            grid-template-columns: 1fr 1fr;
            gap: 1rem;
        }
    }
}

// @media screen and (max-width: 1440px) {
//     .portfolio-section{
//         padding: 6rem !important;
//         max-width: 1440px !important;

//         .sample-container{
//             display: grid;
//             grid-template-columns: 1fr 1fr;
//             gap: 2rem;
//         }
//     }
// }

@media screen and (max-width: 1066px) {
    .portfolio-section{
        h3{
            font-size: 2rem !important;
        }

        .sub-title {
            font-size: 1.2rem !important;
            line-height: 1.85rem !important;
        }
    }
}

@media screen and (max-width: 1040px) {
    .sample-container{
        .right-container{
            gap: 1rem;
        }
    }
}

@media screen and (max-width: 735px) {
    .portfolio-section{
        .sample-container{
            grid-template-columns: 1fr !important;
            gap: 2rem ;
        }
    }
}

@media screen and (max-width: 630px) {
    .portfolio-section{
        padding: 3.8rem !important;
    }
}
@media screen and (max-width: 450px) {
    .portfolio-section{
        padding: 3.0rem !important;

        h3,h4,p{
            text-align: center;
        }

        .sub-title{
            width: 100%;
        }
    }
}
@media screen and (max-width: 360px) {
    .portfolio-section{
        padding: 2rem !important;
    }
}

@media screen and (max-width: 335px){
    .right-container {
        grid-template-columns: 1fr !important;
        gap: 1rem;
    }
}