$bg-primary: #000;
$bg-secondary: rgba(28, 29, 24, 1);
$bg-purple: #9D4EDD;
$font-family-primary: 'Satoshi', sans-serif;
$text-primary: #EEEEEC;
$text-secondary: rgba(248, 252, 234, 1);
$text-highlighted: #BEE329;
$border: #EEEEEC;

.contact{
    background-color: $bg-primary;
    padding: 48px 96px 0 96px;

    .contact-container{
        border-radius: 1rem;
        background-color: $bg-secondary;
        text-align: center;
    }
}