.contact {
  background-color: #000;
  padding: 0 6rem;
}
.contact .contact-container {
  border-radius: 1rem;
  background-color: rgb(28, 29, 24);
  text-align: center;
  padding: 4rem 17.031rem;
}
.contact .contact-container h3 {
  font-family: "Satoshi", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 2rem;
  line-height: 49px;
  color: #EEEEEC;
  margin-bottom: 0.8rem;
}
.contact .contact-container p {
  font-family: "Satoshi", sans-serif;
  font-style: normal;
  font-weight: 300 !important;
  font-size: 1.25rem;
  line-height: 27px;
  color: #EEEEEC;
  color: #EEEEEC;
}
.contact .contact-container .contact-form {
  margin-top: 3rem;
}
.contact .contact-container .contact-form input,
.contact .contact-container .contact-form textarea {
  width: 100% !important;
}
.contact .contact-container .contact-form textarea,
.contact .contact-container .contact-form input:not(.submit-btn) {
  font-family: "Satoshi", sans-serif;
  background-color: rgba(249, 252, 234, 0.15);
  border: none;
  padding: 1rem;
  border-radius: 0.55rem;
  width: 100%;
  color: #EEEEEC;
  margin-bottom: 0.5rem;
}
.contact .contact-container .contact-form textarea::-webkit-scrollbar {
  width: 5px;
}
.contact .contact-container .contact-form textarea::-webkit-scrollbar-track {
  background-color: #000;
}
.contact .contact-container .contact-form textarea::-webkit-scrollbar-thumb {
  background: linear-gradient(#4d6113, #87a802);
  border-radius: 8px;
  cursor: pointer;
}
.contact .contact-container .contact-form #email_phone {
  height: 3.375rem !important;
}
.contact .contact-container .contact-form #project_description {
  min-height: 4.75rem;
}
.contact .contact-container .contact-form .submit-btn {
  margin-top: 1rem;
  background-color: #BEE329;
  color: #000;
  font-size: 1.25rem;
  font-family: "Satoshi", sans-serif;
  border-radius: 0.625rem;
  font-weight: 700;
  cursor: pointer;
  width: 16.438rem !important;
  height: 3.125rem !important;
}
.contact .contact-container .contact-form .submit-btn:hover {
  background-color: #d7f165;
}
.contact .contact-container .divider {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 1.5rem 0;
}
.contact .contact-container .divider .horizontal-bar {
  width: 40%;
  height: 0.005rem;
  background-color: #424242;
}
.contact .contact-container .divider p {
  font-size: 20px;
  color: #BEE329;
}
.contact .contact-container .contact-info {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  gap: 0.6rem;
}
.contact .contact-container .contact-info a {
  text-decoration: none;
  color: #EEEEEC;
  font-size: 1.1rem;
  display: block;
}
.contact .contact-container .contact-info a:hover {
  text-decoration: underline;
}
.contact .contact-container .contact-info div {
  border: 1px solid #424242;
  width: 100%;
  padding: 18.5px 24px;
  border-radius: 0.4rem;
  display: flex;
  justify-content: center;
  align-items: normal;
  gap: 0.5rem;
}
.contact .contact-container .contact-info div p {
  font-size: 1.4rem;
  color: #EEEEEC;
}

@media screen and (max-width: 1375px) {
  .contact .contact-container h3 {
    font-size: 1.8rem;
  }
  .contact .contact-container p {
    font-size: 1.1rem;
  }
}
@media screen and (max-width: 1315px) {
  .contact .contact-container {
    padding: 4rem 15rem;
  }
}
@media screen and (max-width: 1250px) {
  .contact .contact-container {
    padding: 4rem 12rem;
  }
}
@media screen and (max-width: 1155px) {
  .contact .contact-container {
    padding: 4rem 10rem;
  }
}
@media screen and (max-width: 1090px) {
  .contact .contact-container {
    padding: 4rem 8rem;
  }
}
@media screen and (max-width: 990px) {
  .contact .contact-container {
    padding: 4rem 6rem;
  }
  .contact .contact-info a {
    font-size: 1rem !important;
  }
  .contact .contact-info p {
    font-size: 1.2rem !important;
  }
}
@media screen and (max-width: 840px) {
  .contact .contact-container {
    padding: 4rem 5rem;
  }
  .contact .contact-container h3 {
    font-size: 1.5rem;
    line-height: 35px;
  }
  .contact .contact-container p {
    font-size: 1rem;
  }
  .contact .contact-container .contact-form .submit-btn {
    font-size: 1.1rem;
    width: 15rem !important;
  }
  .contact .contact-container .contact-info div {
    padding: 16px 10px !important;
  }
  .contact .contact-container .contact-info a {
    font-size: 0.9rem !important;
  }
  .contact .contact-container .contact-info p {
    font-size: 1.1rem !important;
  }
}
@media screen and (max-width: 730px) {
  .contact .contact-container .contact-form .submit-btn {
    width: 12rem !important;
  }
  .contact .contact-container .contact-info div {
    padding: 16px 8px !important;
  }
  .contact .contact-container .contact-info a {
    font-size: 0.8rem;
  }
  .contact .contact-container .contact-info p {
    font-size: 1rem;
  }
}
@media screen and (max-width: 680px) {
  .contact-info {
    display: flex;
    flex-direction: column;
  }
  .contact-info div {
    padding: 0 !important;
  }
  .contact-info div a {
    font-size: 1.2rem !important;
  }
  .contact-info div p {
    font-size: 1.4rem !important;
  }
}
@media screen and (max-width: 670px) {
  .contact .contact-container {
    padding: 4rem !important;
  }
}
@media screen and (max-width: 630px) {
  .contact {
    padding: 0 3.8rem !important;
  }
  .contact .contact-container {
    padding: 2rem !important;
  }
}
@media screen and (max-width: 450px) {
  .contact {
    padding: 0 3rem !important;
  }
  .contact .contact-container h3 {
    font-size: 1.45rem;
    line-height: 30px;
  }
  .contact .contact-container p {
    font-size: 0.9rem;
  }
  .contact .contact-container .contact-form {
    margin-top: 1.5rem !important;
  }
  .contact .contact-container .contact-form .submit-btn {
    width: 10rem !important;
    font-size: 1.1rem !important;
  }
}
@media screen and (max-width: 360px) {
  .contact {
    padding: 0 2rem !important;
  }
  .contact .contact-container .contact-form .submit-btn {
    width: 10rem !important;
    font-size: 1rem !important;
  }
}
@media screen and (max-width: 310px) {
  .contact {
    padding: 0 2rem !important;
  }
  .contact .contact-container .contact-form .submit-btn {
    width: 8rem !important;
    height: 2.9rem !important;
    font-size: 0.9rem !important;
  }
  .contact .contact-container .contact-info div a {
    font-size: 0.8rem !important;
  }
  .contact .contact-container .contact-info div p {
    font-size: 1rem !important;
  }
}/*# sourceMappingURL=Contact.css.map */