$bg-primary: #000;
$bg-secondary: rgba(28, 29, 24, 1);
$bg-purple: #9D4EDD;
$input-bg:rgba(249, 252, 234, 0.15);
$font-family-primary: 'Satoshi', sans-serif;
$text-primary: #EEEEEC;
$text-secondary: rgba(248, 252, 234, 1);
$text-highlighted: #BEE329;
$border: #EEEEEC;
$border-secondary: #424242;

.contact {
    background-color: $bg-primary;
    padding: 0 6rem;

    .contact-container {
        border-radius: 1rem;
        background-color: $bg-secondary;
        text-align: center;
        padding: 4rem 17.031rem;

        h3 {
            font-family: $font-family-primary;
            font-style: normal;
            font-weight: 700;
            font-size: 2rem;
            line-height: 49px;
            color: $text-primary;
            margin-bottom: 0.8rem;
        }

        p {
            font-family: $font-family-primary;
            font-style: normal;
            font-weight: 300 !important;
            font-size: 1.25rem;
            line-height: 27px;
            color: $border;
            color: $text-primary;
        }

        .contact-form{
            margin-top: 3rem;

            input, textarea{
                width: 100% !important;
            }

            textarea, input:not(.submit-btn){
                font-family: $font-family-primary;
                background-color: $input-bg;
                border: none;
                padding: 1rem;
                border-radius: 0.55rem;
                width: 100%;
                color: $border;
                margin-bottom: 0.5rem;
            }

            #email_phone{
                height: 3.375rem !important;
            }

            #project_description{
                min-height: 4.75rem;
            }

            .submit-btn{
                margin-top: 1rem;
                background-color: $text-highlighted;
                color: #000;
                font-size: 1.25rem;
                // padding: 1rem 4rem !important;
                font-family: $font-family-primary;
                border-radius: 0.625rem;
                font-weight: 700;
                cursor: pointer;
                width: 16.438rem !important;
                height: 3.125rem !important;

                &:hover{
                    background-color: #d7f165;
                }
            }
        }

        .divider{
            display: flex;
            justify-content: space-between;
            align-items: center;
            margin: 1.5rem 0;

            .horizontal-bar{
                width: 40%;
                height: 0.005rem;
                background-color: $border-secondary;
            }

            p{
                font-size: 20px;
                color: $text-highlighted;
            }
        }

        .contact-info{
            display: flex;
            justify-content: center;
            align-items: center;
            text-align: center;
            gap: 0.6rem;

            a{
                text-decoration: none;
                color: $border;
                font-size: 1.1rem;
                display: block;

                &:hover{
                    text-decoration: underline;
                }
            }

            div{
                border: 1px solid $border-secondary;
                width: 100%;
                padding: 18.5px 24px;
                border-radius: 0.4rem;
                display: flex;
                justify-content: center;
                align-items: normal;
                gap: 0.5rem;

                p{
                    font-size: 1.4rem;
                    color: $border;
                }
            }
        }
    }
}