$bg-primary: #000;
$bg-secondary: rgba(28, 29, 24, 1);
$bg-purple: #9D4EDD;
$input-bg: rgba(249, 252, 234, 0.15);
$font-family-primary: 'Satoshi', sans-serif;
$text-primary: #EEEEEC;
$text-secondary: rgba(248, 252, 234, 1);
$text-highlighted: #BEE329;
$border: #EEEEEC;
$border-secondary: #424242;

.contact {
    background-color: $bg-primary;
    padding: 0 6rem;

    .contact-container {
        border-radius: 1rem;
        background-color: $bg-secondary;
        text-align: center;
        padding: 4rem 17.031rem;

        h3 {
            font-family: $font-family-primary;
            font-style: normal;
            font-weight: 700;
            font-size: 2.5rem;
            line-height: 49px;
            color: $text-primary;
            margin-bottom: 0.8rem;
        }

        p {
            font-family: $font-family-primary;
            font-style: normal;
            font-weight: 300 !important;
            font-size: 1.25rem;
            line-height: 27px;
            color: $border;
            color: $text-primary;
        }

        .contact-form {
            margin-top: 3rem;

            input,
            textarea {
                width: 100% !important;
            }

            textarea,
            input:not(.submit-btn) {
                font-family: $font-family-primary;
                background-color: $input-bg;
                border: none;
                padding: 1rem;
                border-radius: 0.55rem;
                width: 100%;
                color: $border;
                margin-bottom: 0.5rem;
            }

            //=================================== Scrollbar Modification ====================================
            textarea::-webkit-scrollbar{
                width: 5px;
            }
            textarea::-webkit-scrollbar-track{
                background-color: #000;
            }
            textarea::-webkit-scrollbar-thumb{
                background: linear-gradient(#4d6113, #87a802);
                border-radius: 8px;
                cursor: pointer;
            }
            // ==============================================================================================

            #email_phone {
                height: 3.375rem !important;
            }

            #project_description {
                min-height: 4.75rem;
            }

            .submit-btn {
                margin-top: 1rem;
                background-color: $text-highlighted;
                color: #000;
                font-size: 1.25rem;
                // padding: 1rem 4rem !important;
                font-family: $font-family-primary;
                border-radius: 0.625rem;
                font-weight: 700;
                cursor: pointer;
                width: 16.438rem !important;
                height: 3.125rem !important;

                &:hover {
                    background-color: #d7f165;
                }
            }
        }

        .divider {
            display: flex;
            justify-content: space-between;
            align-items: center;
            margin: 1.5rem 0;

            .horizontal-bar {
                width: 40%;
                height: 0.005rem;
                background-color: $border-secondary;
            }

            p {
                font-size: 20px;
                color: $text-highlighted;
            }
        }

        .contact-info {
            display: flex;
            justify-content: center;
            align-items: center;
            text-align: center;
            gap: 0.6rem;

            a {
                text-decoration: none;
                color: $border;
                font-size: 1.1rem;
                display: block;

                &:hover {
                    text-decoration: underline;
                }
            }

            div {
                border: 1px solid $border-secondary;
                width: 100%;
                padding: 18.5px 24px;
                border-radius: 0.4rem;
                display: flex;
                justify-content: center;
                align-items: normal;
                gap: 0.5rem;

                p {
                    font-size: 1.4rem;
                    color: $border;
                }
            }
        }
    }
}

@media screen and (max-width: 1375px) {
    .contact {
        .contact-container {
            h3 {
                font-size: 1.8rem;
            }

            p {
                font-size: 1.1rem;
            }
        }
    }
}

@media screen and (max-width: 1315px) {
    .contact {
        .contact-container {
            padding: 4rem 15rem;
        }
    }
}

@media screen and (max-width: 1250px) {
    .contact {
        .contact-container {
            padding: 4rem 12rem;
        }
    }
}

@media screen and (max-width: 1155px) {
    .contact {
        .contact-container {
            padding: 4rem 10rem;
        }
    }
}

@media screen and (max-width: 1090px) {
    .contact {
        .contact-container {
            padding: 4rem 8rem;
        }
    }
}

@media screen and (max-width: 990px) {
    .contact {
        .contact-container {
            padding: 4rem 6rem;
        }

        .contact-info {
            a {
                font-size: 1rem !important;
            }

            p {
                font-size: 1.2rem !important;
            }
        }
    }
}

@media screen and (max-width: 840px) {
    .contact {
        .contact-container {
            padding: 4rem 5rem;

            h3 {
                font-size: 1.5rem;
                line-height: 35px;
            }

            p {
                font-size: 1rem;
            }

            .contact-form {
                .submit-btn {
                    font-size: 1.1rem;
                    width: 15rem !important;
                }
            }

            .contact-info {
                div {
                    padding: 16px 10px !important;
                }

                a {
                    font-size: 0.9rem !important;
                }

                p {
                    font-size: 1.1rem !important;
                }
            }
        }
    }
}

@media screen and (max-width: 730px) {
    .contact {
        .contact-container {
            .contact-form {
                .submit-btn {
                    width: 12rem !important;
                }
            }

            .contact-info {
                div {
                    padding: 16px 8px !important;
                }

                a {
                    font-size: 0.8rem;
                }

                p {
                    font-size: 1.0rem;
                }
            }
        }
    }
}

@media screen and (max-width: 680px) {
    .contact-info {
        display: flex;
        flex-direction: column;

        div {
            padding: 0 !important;

            a {
                font-size: 1.2rem !important;
            }

            p {
                font-size: 1.4rem !important;
            }
        }
    }
}

@media screen and (max-width: 670px) {
    .contact {
        .contact-container {
            padding: 4rem !important;
        }
    }
}

@media screen and (max-width: 630px) {
    .contact {
        padding: 0 3.8rem !important;

        .contact-container {
            padding: 2rem !important;
        }
    }
}

@media screen and (max-width: 450px) {
    .contact {
        padding: 0 3.0rem !important;

        .contact-container {
            h3 {
                font-size: 1.45rem;
                line-height: 30px;
            }

            p {
                font-size: 0.9rem;
            }

            .contact-form {
                margin-top: 1.5rem !important;
                .submit-btn {
                    width: 10rem !important;
                    font-size: 1.1rem !important;
                }
            }
        }
    }
}

@media screen and (max-width: 360px) {
    .contact {
        padding: 0 2.0rem !important;

        .contact-container {
            .contact-form {
                .submit-btn {
                    width: 10rem !important;
                    font-size: 1rem !important;
                }
            }
        }
    }
}

@media screen and (max-width: 310px) {
    .contact {
        padding: 0 2.0rem !important;

        .contact-container {
            .contact-form {
                .submit-btn {
                    width: 8rem !important;
                    height: 2.9rem !important;
                    font-size: 0.9rem !important;
                }
            }

            .contact-info{
                div {        
                    a {
                        font-size: 0.8rem !important;
                    }
        
                    p {
                        font-size: 1.0rem !important;
                    }
                }
            }
        }
    }
}