$bg-primary: #000;
$bg-secondary: rgba(28, 29, 24, 1);
$bg-purple: #9D4EDD;
$input-bg: rgba(249, 252, 234, 0.15);
$font-family-primary: 'Satoshi', sans-serif;
$text-primary: #EEEEEC;
$text-secondary: rgba(248, 252, 234, 1);
$text-highlighted: #BEE329;
$footer-text: #98A2B3;
$border: #EEEEEC;
$border-secondary: #424242;

.dflex {
    display: flex;
    justify-content: center;
    align-items: center;
}

//======================================== Navbar for big screen ========================================
.navbar {
    background-color: $bg-primary;
    padding: 2rem 6rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    // position: relative;

    // width: 100%;
    // position: fixed;
    // top: 0;

    .nav-menu {
        ul {
            display: flex;
            justify-content: center;
            align-items: center;

            li {
                list-style: none;
                padding: 0 1.5rem;

                a {
                    text-decoration: none;
                    color: $text-primary;
                    font-size: 1.5rem;
                }
            }
        }
    }

    button {
        padding: 1rem 2rem !important;
        text-align: center;
        border-radius: 12px;
        border: 1px solid transparent;
        box-shadow: 0px 1px 2px rgba(16, 24, 40, 0.05);
        font-size: 1.2rem;
        font-weight: 600;
        cursor: pointer;
        transition: 0.3s;
        background-color: $text-highlighted;

        &:hover {
            transform: translateY(-5px);
            border: 1px solid rgba(208, 213, 221, 0.15);
            background-color: #1C1D18;
            color: $text-primary;
        }
    }

    .toggle-btn {
        color: $text-primary;
        font-size: 2.5rem;
        cursor: pointer;
        display: none;

        &:hover {
            color: $text-highlighted;
        }
    }
}

//=================================== Navbar for small screen (Flex Menu) ===================================
.flex-menu {
    background-color: $bg-primary;
    color: #EEEEEC;
    position: absolute;
    top: 6rem;
    left: 0;
    width: 100%;
    height: 100vh;

    .menu-container {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: center;
        width: 100%;
        height: 100vh;

        a {
            text-decoration: none;
            color: $text-primary;
            display: block;
            padding: 3rem 20% 0 20%;
            font-size: 2rem;
            font-family: $font-family-primary;

            &:hover:not(.flex-menu-btn){
                color: $text-highlighted;
            }
        }
    }
}


//=================================== Media Queries ===================================

@media screen and (max-width: 1060px) {
    .navbar {
        img {
            width: 150px;
            height: auto;
        }

        .nav-menu {
            ul {
                li {
                    list-style: none;
                    padding: 0 1.5rem;

                    a {
                        text-decoration: none;
                        color: $text-primary;
                        font-size: 1.2rem !important;
                    }
                }
            }
        }

        button {
            padding: 0.8rem 1.6rem !important;
            font-size: 1rem;
        }
    }
}

@media screen and (max-width: 880px) {
    .navbar {
        img {
            width: 120px;
            height: auto;
        }

        .nav-menu {
            ul {
                li {
                    list-style: none;
                    padding: 0 1rem;

                    a {
                        font-size: 1rem !important;
                    }
                }
            }
        }

        button {
            padding: 0.5rem 1rem !important;
            font-size: 0.8rem !important;
        }
    }
}

@media screen and (max-width: 750px) {
    .navbar {
        .nav-menu {
            display: none;
        }

        button {
            display: none;
        }

        .toggle-btn {
            display: block;
        }
    }
}