$bg-primary: #000;
$bg-secondary: rgba(28, 29, 24, 1);
$bg-purple: #9D4EDD;
$font-family-primary: 'Satoshi', sans-serif;
$text-primary: #EEEEEC;
$text-secondary: rgba(248, 252, 234, 1);
$text-highlighted: #BEE329;
$border: #EEEEEC;

.faq-section {
    max-width: 1440px;
    background-color: $bg-primary;
    padding: 6rem;
    margin: 0 auto;

    h3 {
        font-family: $font-family-primary;
        font-size: 2.5rem;
        font-weight: 700;
        line-height: 54px;
        letter-spacing: 0em;
        text-align: left;
        color: $text-highlighted;
        margin-bottom: 3rem;
    }

    .single-accordion {
        margin-bottom: 1rem;
        cursor: pointer;
        display: flex;
        // justify-content: space-around;
        align-items: start;
        border-bottom: 1px solid #333333;
        padding: 1rem 0;

        .main-faq {
            width: 98%;
        }
    }

    // .vertical {
    //     color: white;
    //     font-size: 1.5rem;
    // }

    .faq-title, .vertical {
        color: white;
        font-size: 1.5rem;
        margin-bottom: 0.5rem;
        font-weight: 600;

        &:hover{
            color: $text-highlighted;
        }
    }

    .faq-desc {
        color: #9D9D9D;
        font-size: 1rem;
        line-height: 1.5rem;
    }

    .active-accordion {
        display: block;
        transition: all 0.5s ease-in;
    }

    .inactive-accordion {
        display: none;
        transition: all 0.5s ease-in;
    }

    .faq-bottom-text{
        color: #9D9D9D;
        font-size: 1rem;
    }
}

@media screen and (max-width: 666px) {
    .faq-section {
        .faq-title {
            p {
                font-size: 1.3rem !important;
            }
        }
        .vertical{
            font-size: 1.3rem !important;
        }

        .faq-desc {
            color: #9D9D9D;
            font-size: 1rem;
            line-height: 1.5rem;
        }
    }
}

@media screen and (max-width: 435px) {
    .faq-section {
        .faq-title {
            p {
                font-size: 1.0rem !important;
            }
        }
        .vertical{
            font-size: 1.0rem !important;
        }

        .faq-desc {
            color: #9D9D9D;
            font-size: 1rem;
            line-height: 1.5rem;
        }
    }
}