$bg-primary: #000;
$bg-secondary: rgba(28, 29, 24, 1);
$bg-purple: #9D4EDD;
$input-bg: rgba(249, 252, 234, 0.15);
$font-family-primary: 'Satoshi', sans-serif;
$text-primary: #EEEEEC;
$text-secondary: rgba(248, 252, 234, 1);
$text-highlighted: #BEE329;
$footer-text:#98A2B3;
$border: #EEEEEC;
$border-secondary: #424242;

.footer {
    background-color: $bg-primary;
    padding: 3rem 6rem;
    color: $text-primary;

    h3 {
        text-align: center;
        margin-bottom: 2rem;
        font-family: $font-family-primary;
        font-style: normal;
        font-weight: 700;
        font-size: 1.55rem;
        line-height: 1.5rem;
    }

    .important-links {
        margin-bottom: 3rem;

        ul {
            display: flex;
            justify-content: center;
            align-items: center;

            li {
                list-style: none;
                padding: 0 1rem;
                cursor: pointer;

                &:hover {
                    color: $text-highlighted;
                }

                a {
                    display: block;
                }
            }
        }
    }

    .footer-bottom {
        display: flex;
        align-items: center;
        justify-content: start;
        gap: 1.5rem;
        .copyright-text {
            font-family: $font-family-primary;
            font-style: normal;
            font-weight: 300;
            font-size: 1rem;
            line-height: 1.5rem;
            color: $footer-text;
            
        }

        .social-links{
            ul{
                display: flex;
                align-items: center;

                li{
                    list-style: none;
                    padding: 0 0.8rem;
                    cursor: pointer;

                    &:hover a{
                        color: $border !important;
                    }

                    a{
                        text-decoration: none;
                        color: $footer-text;
                        font-size: 1.5rem;
                        display: block;
                    }
                }
            }
        }
    }
}