$bg-primary: #000;
$bg-secondary: rgba(28, 29, 24, 1);
$bg-purple: #9D4EDD;
$input-bg: rgba(249, 252, 234, 0.15);
$font-family-primary: 'Satoshi', sans-serif;
$text-primary: #EEEEEC;
$text-secondary: rgba(248, 252, 234, 1);
$text-highlighted: #BEE329;
$footer-text: #98A2B3;
$border: #EEEEEC;
$border-secondary: #424242;


.footer {
    background-color: $bg-primary;
    padding: 6rem;
    color: $text-primary;

    h3 {
        text-align: center;
        margin-bottom: 0.8rem;
        font-family: $font-family-primary;
        font-style: normal;
        font-weight: 700;
        font-size: 2rem;
        line-height: 1.5rem;
    }

    hr {
        width: 100px;
        margin: 0 auto;
        border-color: #1C1D18;
    }

    p {
        text-align: center;
        font-size: 1rem;
        line-height: 2rem;
        margin: 1.5rem;
        font-family: $font-family-primary;
        color: rgba(238, 238, 236, 1);
    }

    .important-links {
        margin-bottom: 3rem;

        ul {
            display: flex;
            justify-content: center;
            align-items: center;
            flex-wrap: wrap;

            li {
                list-style: none;
                padding: 1rem;
                cursor: pointer;

                &:hover {
                    color: $text-highlighted;
                }

                a {
                    display: block;
                    font-size: 1rem;
                    text-decoration: none;
                    color: $border;
                }
            }
        }
    }

    .footer-bottom {
        display: flex;
        align-items: center;
        justify-content: space-between;
        gap: 1.5rem;

        .copyright-text {
            font-family: $font-family-primary;
            font-style: normal;
            font-weight: 300;
            font-size: 1rem;
            line-height: 1.5rem;
            color: $footer-text;

        }

        .social-links {
            ul {
                display: flex;
                align-items: center;

                li {
                    list-style: none;
                    padding: 0 0.8rem;
                    cursor: pointer;

                    &:hover a {
                        color: $border !important;
                    }

                    a {
                        text-decoration: none;
                        color: $footer-text;
                        font-size: 1.5rem;
                        display: block;
                    }
                }
            }
        }
    }
}

@media screen and (max-width: 665px) {
    p {
        font-size: 0.8rem !important;
        line-height: 1.8rem !important;
    }

    .important-links {
        li {
            padding: 0.5rem !important;

            a {
                font-size: 1rem !important;
            }
        }
    }

    .footer-bottom {
        justify-content: space-between !important;
        gap: 0rem !important;

        .social-links {
            ul {
                li {
                    padding: 0.8rem !important;

                    a {
                        font-size: 1.3rem !important;
                    }
                }
            }
        }
    }
}

@media screen and (max-width: 630px) {
    .footer {
        padding: 3.8rem;
    }
}

@media screen and (max-width: 530px) {
    .important-links {
        li {
            a {
                font-size: 0.8rem !important;
            }
        }
    }

    .footer-bottom {
        // display: flex;
        // justify-content: center;
        // align-items: center;
        gap: 1rem !important;
        flex-direction: column !important;
    }
}

@media screen and (max-width: 450px) {
    .footer {
        padding: 3.0rem !important;

        p {
            font-size: 0.7rem !important;
            line-height: 1.5rem !important;
        }
    }
}

@media screen and (max-width: 360px) {
    .footer {
        padding: 2rem !important;

        p {
            font-size: 0.6rem !important;
            line-height: 1.5rem !important;
        }
    }
}