$bg-primary: #000;
$bg-secondary: rgba(28, 29, 24, 1);
$bg-purple: #9D4EDD;
$font-family-primary: 'Satoshi', sans-serif;
$text-primary: #EEEEEC;
$text-secondary: rgba(248, 252, 234, 1);
$text-highlighted: #BEE329;
$border: #EEEEEC;

.testimonial {
    max-width: 1440px;
    background-color: $bg-primary;
    padding: 6rem;

    h3 {
        font-family: $font-family-primary;
        font-size: 2.5rem;
        font-weight: 700;
        line-height: 54px;
        letter-spacing: 0em;
        text-align: left;
        color: $text-highlighted;
    }

    .testimonial-container {
        margin-top: 3rem;

        .ratings {
            color: #FEC84B;
            margin-bottom: 1.5rem;

            .star {
                margin: 0 0.2rem;
            }
        }

        .comments {
            font-family: 'Inter';
            font-style: normal;
            font-weight: 400;
            font-size: 1.5rem;
            line-height: 2.3rem;
            color: $text-primary;
        }

        .bottom-section {
            margin-top: 3rem;
            width: 90%;
            display: flex;
            align-items: center;
            justify-content: space-between;

            .author {
                color: $text-primary;
                display: flex;
                align-items: center;
                gap: 1rem;

                img {
                    width: 56px;
                    height: 56px;
                    border-radius: 200px;
                }

                p {
                    font-family: 'Inter';
                    font-style: normal;
                    // font-weight: 500;
                    font-size: 18px;
                    line-height: 28px;
                }

                .name {
                    font-weight: 500 !important;
                }

                .designation {
                    font-weight: 300 !important;
                    color: grey;
                }
            }

            .pagination {
                display: flex;
                justify-content: center;
                align-items: center;
                gap: 1.5rem;

                .left {
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    color: $text-primary;
                    height: 56px;
                    width: 56px;
                    border-radius: 50%;
                    background-color: $bg-secondary;
                    font-size: 24px;
                    cursor: pointer;

                    &:hover {
                        background-color: #2d3436;
                    }
                }

                .right {
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    color: $bg-primary;
                    height: 56px;
                    width: 56px;
                    border-radius: 50%;
                    background-color: $text-highlighted;
                    font-size: 24px;
                    cursor: pointer;

                    &:hover {
                        background-color: #d7f165;
                    }
                }
            }
        }
    }
}

@media screen and (max-width: 1066px) {
    .testimonial {
        h3 {
            font-size: 2rem;
        }

        .testimonial-container {
            .comments {
                font-size: 1.1rem ;
                font-family: 'Inter';
                line-height: 2.1rem;
            }

            .bottom-section {
                .author {
                    .details {
                        p {
                            font-size: 16px !important;
                            line-height: 28px;
                        }
                    }
                }
            }
        }
    }
}

@media screen and (max-width: 740px) {

    .comments {
        font-size: 1.0rem !important;
        line-height: 2.0rem !important;
    }

    .pagination {
        gap: 1rem !important;

        .left,
        .right {
            height: 46px !important;
            width: 46px !important;
            border-radius: 50%;
            font-size: 24px;
        }
    }
}

@media screen and (max-width: 630px) {
    .testimonial {
        padding: 3.8rem;
        
    }
}

@media screen and (max-width: 590px) {
    .pagination {
        justify-content: end !important;

        .left,
        .right {
            height: 40px !important;
            width: 40px !important;
            border-radius: 50%;
            font-size: 20px !important;
        }
    }
}

@media screen and (max-width: 535px) {
    .comments {
        font-size: 0.9rem !important;
        line-height: 1.8rem !important;
    }

    .bottom-section {
        .author {
            .details {
                p {
                    font-size: 14px !important;
                    line-height: 24px !important;
                }
            }
        }
    }
}

@media screen and (max-width: 450px) {
    .testimonial {
        padding: 3.0rem;
        text-align: center !important;

        h3 {
            text-align: center;
        }

        .bottom-section {
            width: 100% !important;
            display: flex;
            align-items: center;
            justify-content: center;
            flex-direction: column;
            margin-top: 2rem;

            .author {
                display: flex;
                justify-content: center;
                align-items: center;
                flex-direction: column;
                margin-bottom: 1.5rem !important;
            }
        }
    }
}

@media screen and (max-width: 360px) {
    .testimonial {
        padding: 2rem;

        .comments{
            font-size: 0.8rem !important;
            line-height: 1.8rem !important;
        }

        .bottom-section {
            margin-top: 1.7rem !important;
        }
    }
}