$bg-primary: #000;
$bg-secondary: rgba(28, 29, 24, 1);
$bg-purple: #9D4EDD;
$font-family-primary: 'Satoshi', sans-serif;
$text-primary: #EEEEEC;
$text-secondary: rgba(248, 252, 234, 1);
$text-highlighted: #BEE329;
$border: #EEEEEC;
$bg-hover: rgba(255, 255, 255, 0.1);

.portfolio-card {
    height: 330px !important;
    background-color: transparent;
    padding: 1rem;
    border-radius: 12px;

    img {
        border-radius: 12px;
        width: 261.5px;
        height: 200px;
    }

    .card-meta-data {
        font-family: $font-family-primary;
        font-weight: 400;
        font-size: 0.8rem !important;
        line-height: 22px;
        margin: 0 !important;
        padding: 0 !important;
        letter-spacing: 0.05rem;
        // height: 2rem !important;
        color: $border;
    }

    h4 {
        margin: 0.9rem 0;
        padding: 0;
        color: $text-highlighted;
        width: 90%;
        cursor: pointer;
        font-size: 1.5rem;

        &:hover {
            color: #a3ca07;
        }
    }

    &:hover{
        background-color: $bg-hover;
        cursor: pointer;
    }
}

@media screen and (max-width: 1450px) {
    .portfolio-card {
        img {
            width: 92%;
            height: auto;
        }
    }
}

@media screen and (max-width: 1210px) {
    h4 {
        width: 90% !important;
    }
}

@media screen and (max-width: 1180px) {
    .card-meta-data {
        font-size: 0.8rem !important;
        line-height: 22px;
        margin-bottom: 3px !important;
        padding: 0 !important;
        letter-spacing: 0.05rem;
    }
}

@media screen and (max-width: 1066px) {
    .portfolio-card {
        height: fit-content !important;

        h4 {
            font-size: 1.2rem !important;
        }
    }
}

@media screen and (max-width: 870px) {
    .portfolio-card {
        height: fit-content !important;

        h4 {
            font-size: 1.0rem !important;
        }

        .card-meta-data {
            font-size: 0.7rem !important;
            line-height: 20px;
            margin-bottom: 3px !important;
            padding: 0 !important;
            letter-spacing: 0.04rem;
        }
    }
}

