/* 
$bg-primary: #000;
$bg-secondary: rgba(28, 29, 24, 1);
$bg-purple: #9D4EDD;
$font-family-primary: 'Satoshi', sans-serif;
$text-primary: #EEEEEC;
$text-secondary: rgba(248, 252, 234, 1);
$text-highlighted: #BEE329;
$border: #EEEEEC;
$bg-hover: rgba(255, 255, 255, 0.1);
 */

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

body{
  background-color: black;
  /* max-width: 1440px; */
  /* margin: 0 auto; */
}

.section-wrapper-primary{
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #000;
}
.section-wrapper-secondary{
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #1C1D18;
}

.scroll-to-top{
  background-color: #3D3F37 !important;
  border: 1px solid black;  
  color: #BEE329;
}

.scroll-to-top:hover{
  background-color: #6b6e5e !important;
}

::-webkit-scrollbar{
  width: 5px;
}
::-webkit-scrollbar-track{
  background-color: #000;
}
::-webkit-scrollbar-thumb{
  background: linear-gradient(#4d6113, #87a802);
  border-radius: 8px;
  cursor: pointer;
}